*.xojo_uistate
*obsolete*
JSONItem_MTC Harness/Builds - JSONItem_MTC Harness.xojo_project
JSONItem_MTC Harness.xojo_project alias
Double-Click Me.xojo_project
JSONItem_MTC Harness/JSONItem_MTC.debug.app
JSONItem_MTC Harness/Builds - JSONItem_MTC Harness
